:root {
  --primery-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --bacgrund-color: rgba(245, 244, 250, 1);
  --second-text-color: rgba(117, 117, 117, 1);
  --wite-text-color: rgba(255, 255, 255, 1);
  --primery-bg-color: rgba(245, 244, 250, 1);
}

body {
  background-color: rgba(255, 255, 255, 1);

  /* цвет основного текста rgba(33, 33, 33, 1) */
  /*  вторичный текст rgba(117, 117, 117, 1) */
  /* белый rgba(255, 255, 255, 1) */
  /* акцент rgba(33, 150, 243, 1)
*/
  /* вторичный фон цвет rgba(245, 244, 250, 1)
*/

  font-family: "Roboto", "Raleway", "Oleo Script", sans-serif;
  color: var(--primery-text-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}
a.link:visited {
  color: var(--primery-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--primery-text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);

  font-size: 26px;
  line-height: 1.36px;
}
.logo:hover {
  color: var(--accent-color);
}
.futter-logo {
  color: var(--wite-text-color);
}
.futter-logo span {
  color: var(--accent-color);
}
.futter-logo:hover {
  color: var(--accent-color);
}
.nav,
.contakts {
  color: var(--primery-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
ul.contakts {
  margin: 0;
}
.nav-text:hover,
.nav-text:focus {
  color: var(--accent-color);
}
.nav-text.current {
  color: var(--accent-color);
}
.mail {
  color: rgba(117, 117, 117, 1);
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.tel {
  color: var(--second-text-color);
}
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
a.btn {
  display: inline-block;
  color: var(--wite-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
}

.link-content {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 600px;
  background-color: rgba(47, 48, 58, 1);
}
.link-content.text {
  color: #ffffff;
}
.text {
  padding-top: 200px;
}
h1.link-content.text {
  margin: 0;
}
.futter-contacts a {
  color: rgba(255, 255, 255, 0.6);
}
.futter-contacts a:hover,
.futter-contacts a:focus {
  color: rgba(255, 255, 255, 1);
}
footer {
  background-color: rgba(47, 48, 58, 1);
}
a {
  size: 44px;
}
.button {
  color: var(--primery-text-color);
  background-color: var(--primery-bg-color);
  font-family: inherit;
}
.button.ptimery:hover,
.button.ptimery:focus {
  background-color: var(--accent-color);
  color: var(--wite-text-color);
}
a {
  text-decoration: none;
}
.link-content {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
h3.list-content {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}
.list p {
  color: rgba(117, 117, 117, 1);
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}
ul.list {
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 7;
  margin: 0;
}
.content-img {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.content-picters {
  background-color: var(--bacgrund-color);
}
.content-picters p {
  margin: 0;
}
.content-picters.name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin: 0;
}
.content-picters.h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.content-picters p {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
}
.page-header {
  outline: 2px solid tomato;
  margin-bottom: 0;
}
.page-header.nav {
  cursor: pointer;
}

.nav-links {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
}
.content p {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 1.9px;
}
ul {
  list-style-type: none;
}
.content-nav img {
  width: 370px;
  height: 294px;
}
.futter {
  font-family: "Roboto", sans-serif;
}
.futter-logo {
  font-family: "Raleway", sans-serif;
  color: var(-wite-text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
ul.futter-contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  list-style-type: none;
  font-style: normal;
}
.section {
  background-color: var(--wite-text-color);
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
h2.section-title {
  margin: 0;
}
ul.team {
  margin: 0;
}
